<h2 [ngStyle]="{'text-decoration': 'underline', 'text-align': 'center'}">Service Module Level Register Example</h2>

<p [ngStyle]="{'font-size': '21px'}">&#8226; user detail service, user auth service, admin service is getting loaded when module is loaded.</p>

<p [ngStyle]="{'font-size': '21px'}">&#8226; where as if we follow default provideIn serice implementation then serive will be <strong>only</strong> loaded when needed.</p>

<div [ngStyle]="{'font-size': '21px'}">
  <p [ngStyle]="{'text-decoration': 'underline'}">Type of object in services</p>
  <ul>
    <li>singleton object service:</li>
    <p> object/variable will be shared by every component & changes made by one component will be reflected for the other one.</p>
    <li>multiple object service:</li>
    <p> Every component will have its own copy of object & changes made by one component will not affect other component</p>
  </ul>
</div>

<p [ngStyle]="{'font-size': '21px', 'text-decoration': 'underline'}">@Injector() Need ?</p> 

<div [ngStyle]="{'margin-left': '2rem', 'font-size': '21px'}">
  <p [ngStyle]="{'text-decoration': 'underline'}">without @Injector decorator </p>

  <p>component ------> service (call) ------> <strong>OK, will work</strong></p>

  <p>component ------> service (call) ------> service (call) ------> <strong>NOT Ok, will NOT work</strong></p>

  <p><strong>Conclusion:</strong> If we have to inject one service into another service then we need @Injector Decorator</p>
</div>