#body {
    background: pink;
    padding: 10px;
}

#hover-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 20vh;
    text-align: center;
    border: 2px solid black;
}