<h2 [ngStyle]="{'text-decoration': 'underline', 'text-align': 'center'}">Angular Pipes</h2>
<ul>
    <li><h2>Pipe are used to transform the form of Data</h2></li>
</ul>

<p>original text: {{myText}}</p>
<p>uppercase pipe: {{myText | uppercase}}</p>
<p>lowercase pipe: {{myText | lowercase}}</p> <br>
<p>passing parameter in pipe (slice pipe): {{myText | slice : 2:6}}</p> <br>

<p>without Json Pipe: {{empDetails}}</p>
<p>with Json Pipe: {{empDetails | json}}</p>
<p>multiple pipe example json + uppercase: {{empDetails | json | uppercase}}</p> <br>

<h3>Custom Pipes:</h3>
<p>originial amount: 200, applying 10% discount, Result: {{200 | applyDiscount : 10}} </p>
<p>originial amount: 200, applying 20% discount, Result: {{200 | applyDiscount : 20}} </p>
